[submodule "dice-roller"]
	path = dice-roller
	url = https://github.com/ananthrajsingh/dice-roller
[submodule "android-trivia-kotlin"]
	path = android-trivia-kotlin
	url = https://github.com/ananthrajsingh/android-trivia-kotlin
[submodule "dessert-pusher"]
	path = dessert-pusher
	url = https://github.com/ananthrajsingh/dessert-pusher
[submodule "guess-it"]
	path = guess-it
	url = https://github.com/ananthrajsingh/guess-it
[submodule "android-sleep-tracker-kotlin"]
	path = android-sleep-tracker-kotlin
	url = https://github.com/ananthrajsingh/android-sleep-tracker-kotlin
